@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/*reset*/

* { 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;   
    scroll-behavior: smooth;
}

nav, ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer; 
}

/* menu */

  nav{
    background: #20003B;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #8900FA;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 750px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #43007A;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #8900FA;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  header {
    background-color: #20003B;
    background-size: cover;
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #apresention {
      width: 600px;
      height: 414px;
      padding: 70px 30px;
      border-top: 5px solid white;
      border-left: 5px solid #8900FA;
      border-bottom: 5px solid #8900FA;
      box-shadow: 20px 20px 20px #43007A;
  }
  
  #apresention h2 {
      color: white;
      font-size: 40px;
      font-weight: bolder;
  }

  #apresention h1 {
    color: white;
    font-size: 50px;
}

#apresention h3 {
    background-color: #7B00E0;
    color: white;
    font-size: 40px;
    margin-top: 40px;
    padding: 20px;
}

  img {
      width: 450px;
      box-shadow: 20px 20px 20px #43007A;
  }

  @media (max-width: 1121px) {

      #apresention {
        width: 450px;
        height: 400px;
        padding: 50px 20px;
        border-top: 5px solid white;
        border-left: 5px solid #8900FA;
        border-bottom: 5px solid #8900FA;
        box-shadow: 20px 20px 20px #43007A;
    }

    img {
        width: 435px;
        box-shadow: 20px 20px 20px #43007A;
    }

  }

  @media (max-width: 934px) {

    #apresention {
      width: 350px;
      height: 310px;
      padding: 50px 20px;
      box-shadow: 10px 10px 10px #43007A;
  }

  #apresention h2 {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

#apresention h1 {
  color: white;
  font-size: 40px;
}

#apresention h3 {
  background-color: #7B00E0;
  color: white;
  font-size: 30px;
  margin-top: 20px;
  padding: 10px;
}

  img {
      width: 336px;
      box-shadow: 10px 10px 10px #43007A;
  }

}

@media (max-width: 730px) {

    #apresention {
      width: 250px;
      height: 200px;
      padding: 20px 15px;
      box-shadow: 10px 10px 10px #43007A;
  }

  #apresention h2 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

#apresention h1 {
  color: white;
  font-size: 30px;
}

#apresention h3 {
  background-color: #7B00E0;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
}

  img {
      width: 217px;
      box-shadow: 10px 10px 10px #43007A;
  }

}

@media (max-width: 500px) {

    header {
        flex-direction: column;
    }

    #apresention {
      width: 350px;
      height: 200px;
      padding: 20px 15px;
      border-top: 5px solid #8900FA;
      border-right: 5px solid #8900FA;
      border-left: 5px solid #ffffff;
      border-bottom: none;
  }

  #apresention h2 {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

#apresention h1 {
  color: white;
  font-size: 40px;
}

#apresention h3 {
  background-color: #7B00E0;
  color: white;
  font-size: 30px;
  margin-top: 5px;
  padding: 5px;
}

  img {
      width: 350px;
      border-top: none;
      border-right: 6px solid #8900FA;
      border-left: 6px solid #ffffff;
      border-bottom: 6px solid #8900FA;
      box-shadow: 10px 10px 10px #43007A;
  }

}


  